.generalMesas{
    padding: 1%;
}

.divButtonMesas{
    text-align: right;
}

.divMesasView {
  display: flex;
  flex-wrap: wrap;
}

.divMesasView > div {
  flex: 1 0 calc(25% - 10px); /* 25% width for 4 items per row with 10px spacing */
  margin: 5px; /* Adjust margin as needed for spacing */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.childMesasView {
  border: 1px solid black;
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 900px) {
    .divMesasView > div {
        flex: 1 0 calc(50% - 10px); /* 50% width for 2 items per row with 10px spacing on smaller screens */
    }
}

@media (max-width: 767px) {
    .divMesasView > div {
        flex: 1 0 calc(100% - 10px); /* 50% width for 2 items per row with 10px spacing on smaller screens */
    }
}